<ion-view view-title="Cadastre-se aqui!">
    <ion-content>
        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">E-mail</span>
                <input type="text" placeholder="E-mail">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Nome</span>
                <input type="text" placeholder="Nome">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Senha</span>
                <input type="password" placeholder="Senha">
            </label>
        </div>
        <div class="padding">
            <button class="button button-block button-positive">
                Cadastrar
            </button>
        </div>      
    </ion-content>
</ion-view>
