<ion-view view-title="Guia da Saude">
    <ion-content>

   <body>
       
    <li class="item" ng-click="informacoes()">
    femina
    </li>
    
  
<li class="item" ng-click="informacoes()">
    Santa Rosa 
</li>

<li class= "item" ng-click="informacoes()">
    São Mateus
</li>

   </body>

   
    </ion-content>
</ion-view>

<div class="list">

  <label class="item item-input item-select">
    <div class="input-label">
      Planos
    </div>
    <select>
      <option>Unimed</option>
      <option selected>Bradesco</option>
      <option>Amil</option>
    </select>
  </label>

</div>
