<ion-view view-title="Guia da Saude">
    <ion-content>

          <a class="item" href="#/info/{{clinica}}" ng-repeat="clinica in clinicas">
            {{clinica}}
          </a>
        
   
    </ion-content>
</ion-view>

<div class="list">

  <label class="item item-input item-select">
    <div class="input-label">
      Planos
    </div>
    <select>
      <option>Unimed</option>
      <option>Bradesco</option>
      <option>agmed</option>
      <option>pax</option>
      <option>Sul America</option>
    </select>
  </label>

</div>
