<body>
<ion-view view-title="Guia da saúde">
    <ion-content>
        <div class="list">
           
            
            <label class="item item-input item-stacked-label">
                <span class="input-label">Nome</span>
                <input type="text" placeholder="Nome" ng-model="email">
            </label>
            

          
           
            </label>
        </div>
        
        <div class="list">

  <label class="item item-input item-select">
    <div class="input-label">
      Planos
    </div>
    <select>
      <option>Unimed</option>
      <option>Bradesco</option>
      <option>Amil</option>
      <option>Pax</option>
      <option>Sul America</option>
    </select>
  </label>

</div>
<div class="padding">
            <button class="button button-block button-positive" ng-click="continuar()">
                Continuar
            </button>
            
            </a>
        </div>
    </ion-content>
</ion-view>
</body>
 