<ion-view view-title="HTML-M1L-GR4U">
    <ion-content>
        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">E-mail</span>
                <input type="text" placeholder="E-mail" ng-model="email">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Senha</span>
                <input type="password" placeholder="Senha" ng-model="senha">
            </label>
        </div>
        <div class="padding">
            <button class="button button-block button-positive" ng-click="fazerLogin(email, senha)">
                Entrar
            </button>
            <a class="button button-block button-outline button-positive" href="#/cadastro">
                Cadastrar-se
            </a>
        </div>
    </ion-content>
</ion-view>

 